* {
  box-sizing: border-box;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
     height: 300%;
     top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
     width: 300%;
     left: -100%;
  }
}

#vidtop-content {
	top: 0;
	color: #fff;
}

.bottom-left {
  position: absolute;
  bottom: 3%;
  left: 3%;
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
 }

 .bottom-left:hover {
  background: #000;
 }

.top-left {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 30%;
  height: 80vh;
  overflow: hidden;
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
}


.bottom-right {
  position: absolute;
  bottom: 3%;
  right: 3%;
 }

.randombtn{
  width: 70px;
  height: 70px;
  border-radius:50px;
  font-size:20px;
  text-align:center;
  color: #fff;
  background: #000;
  border: 2px solid #fff;
}

.randombtn:hover{
  color: #000;
  background: #fff;
  cursor: pointer;
}
